# --- AWS (seul Bedrock est utilisé) ---
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# --- OpenSearch (local via Docker, ne pas toucher) ---
OPENSEARCH_HOST=opensearch
OPENSEARCH_PORT=9200
OPENSEARCH_USE_SSL=false
OPENSEARCH_INDEX=rag-documents
